<a href="https://colab.research.google.com/github/aimanova7831/Homework-1/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Aysel
What is your age? 20
Your name is Aysel. Your age is 20

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print("They are equal")
else:
  print("They are not equal")

They are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print("The first number is greater than the second one.")
elif a==b:
  print("They are equal.")
else:
  print ("The first number is less than the second one.")

The first number is less than the second one.

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while(i>0):
  print(i)
  i=i-1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for c in range(10,-1,-2):
  if(c!=8):
    print(c)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
birthyear=int(input("Enter the birth year: "))
age=2022-birthyear
print(age)

Enter the birth year: 1944
78

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(a,b):
    return(a+b)
  def substraction(a,b):
    return(a-b)
  def multiplcation(a,b):
    return(a*b)
  def division(a,b):
    return(a/b)

print(arithmetic.addition(1,2))
print(arithmetic.substraction(1,2))
print(arithmetic.multiplcation(1,2))
print(arithmetic.division(1,2))

3
-1
2
0.5

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n=int(input("Enter a number: "))
sum=0
for k in range(0,n+1):
  sum=sum+k
print(sum)

Enter a number: 5
15

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np
k=np.random.rand()
k=[]
for m in range(0,10):
  k.append(float(np.random.rand()))
k[0:3]

[0.6443658856537109, 0.23812611949443685, 0.40616230451551927]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=int(input("Enter a number: "))
sum=0
for i in range(0,n+1):
  if(i%3==0):
    print(i)
    i=i+3
  else:
    i=i+1

Enter a number: 8
0
3
6