<a href="https://colab.research.google.com/github/aimanova7831/Homeworks/blob/main/Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", …, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [8]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
#For object check the data 
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [10]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [11]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [12]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [13]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

 


Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

In [14]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(random_state=17 )
forest.fit(X_train, y_train)

forest_pred = forest.predict(X_test)
accuracy_score(y_test, forest_pred)

0.9025037600636999

In [15]:
from xgboost import XGBClassifier
model = XGBClassifier(random_state=17)
model.fit(X_train, y_train)

xgb_pred = model.predict(X_test)
accuracy_score(y_test, xgb_pred)

0.90020348580023

In [16]:
from sklearn.ensemble import GradientBoostingClassifier
from time import time
t0 = time()
gbm_model = GradientBoostingClassifier(random_state=17)
gbm_model.fit(X_train, y_train)
gbm_time = time() - t0
accuracy_score(y_test, gbm_model.predict(X_test))

0.9018844554543042

In [17]:
import lightgbm as lgb
t0 = time()
lgb_model = lgb.LGBMClassifier(random_state=17)
lgb_model.fit(X_train, y_train)
lgb_time = time() - t0
accuracy_score(y_test, lgb_model.predict(X_test))

0.9044501459789437

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [18]:
!pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 5.0 MB/s
Collecting alembic
  Downloading alembic-1.7.7-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 51.3 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 8.4 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.32)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.63.0)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.5)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.7)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 5.8 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.0-py3-none-any.whl (150 kB)
     |████████████████████████████████| 150 kB 58.8 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.0-py3-none-any.whl (29 kB)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.4 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.8.1-py2.py3-none-any.whl (113 kB)
     |████████████████████████████████| 113 kB 56.5 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=5628f4d3ebecf26ace77c9adb12d8efc1546f7deb0909b6a6e8fc0279b7cb154
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.7.7 autopage-0.5.0 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.0 colorlog-6.6.0 optuna-2.10.0 pbr-5.8.1 pyperclip-1.8.2 stevedore-3.5.0

In [20]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm


# FYI: Objective functions can take additional arguments
# (https://optuna.readthedocs.io/en/stable/faq.html#objective-func-additional-args).
def objective(trial):
    x, y = X_train,y_train

    regressor_name = trial.suggest_categorical("regressor", ["GradientBoosting", "XGBoost","LightGBM","RandomForest"])
    if regressor_name == "GradientBoosting":
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         regressor_obj = sklearn.ensemble.GradientBoostingRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
    
    elif regressor_name == "XGBoost":
         from xgboost import XGBRegressor
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         regressor_obj = XGBRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
         

    elif regressor_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         regressor_obj = lgb.LGBMRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
       
   
    else:
         max_depth = trial.suggest_int("max_depth", 2,16)
         max_features = trial.suggest_int("max_features", 2,16)
         regressor_obj = sklearn.ensemble.RandomForestRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )

     

    r2=sklearn.model_selection.cross_val_score(regressor_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return r2


if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

[I 2022-03-20 10:30:35,257] A new study created in memory with name: no-name-6264da51-a9f6-4e6f-a64d-33eeff558b48
[I 2022-03-20 10:30:55,379] Trial 0 finished with value: 0.3487265834273641 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 11, 'max_features': 6}. Best is trial 0 with value: 0.3487265834273641.
[I 2022-03-20 10:30:56,764] Trial 1 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 4}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:30:57,581] Trial 2 finished with value: 0.359339894831263 and parameters: {'regressor': 'LightGBM', 'max_depth': 3, 'max_features': 3}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:30:58,781] Trial 3 finished with value: 0.38671654769148894 and parameters: {'regressor': 'LightGBM', 'max_depth': 7, 'max_features': 2}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:06,103] Trial 4 finished with value: 0.3763815414974146 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 13}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:07,291] Trial 5 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 12}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:08,484] Trial 6 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 10}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:21,179] Trial 7 finished with value: 0.35110380876108094 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 11, 'max_features': 7}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:28,579] Trial 8 finished with value: 0.3763815414974146 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 15}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:39,522] Trial 9 finished with value: 0.33257878446521916 and parameters: {'regressor': 'RandomForest', 'max_depth': 7, 'max_features': 15}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:47,440] Trial 10 finished with value: 0.3701180898936897 and parameters: {'regressor': 'RandomForest', 'max_depth': 16, 'max_features': 5}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:48,631] Trial 11 finished with value: 0.38680737289053396 and parameters: {'regressor': 'LightGBM', 'max_depth': 14, 'max_features': 2}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:49,825] Trial 12 finished with value: 0.3864144570671481 and parameters: {'regressor': 'LightGBM', 'max_depth': 15, 'max_features': 4}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:50,997] Trial 13 finished with value: 0.38634580523343964 and parameters: {'regressor': 'LightGBM', 'max_depth': 13, 'max_features': 8}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:52,164] Trial 14 finished with value: 0.38634580523343964 and parameters: {'regressor': 'LightGBM', 'max_depth': 13, 'max_features': 2}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:31:53,350] Trial 15 finished with value: 0.38680737289053396 and parameters: {'regressor': 'LightGBM', 'max_depth': 14, 'max_features': 5}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:32:09,402] Trial 16 finished with value: 0.33937022371988373 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 11, 'max_features': 9}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:32:16,323] Trial 17 finished with value: 0.3648393173556692 and parameters: {'regressor': 'RandomForest', 'max_depth': 12, 'max_features': 5}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:32:46,466] Trial 18 finished with value: 0.2764069659439999 and parameters: {'regressor': 'XGBoost', 'max_depth': 16, 'max_features': 7}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:32:47,683] Trial 19 finished with value: 0.38680737289053396 and parameters: {'regressor': 'LightGBM', 'max_depth': 14, 'max_features': 4}. Best is trial 1 with value: 0.3882812159412718.
[I 2022-03-20 10:32:48,899] Trial 20 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:32:50,126] Trial 21 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:32:51,339] Trial 22 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:32:52,591] Trial 23 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:32:53,826] Trial 24 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 13}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:32:55,045] Trial 25 finished with value: 0.38780396438906567 and parameters: {'regressor': 'LightGBM', 'max_depth': 8, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:01,069] Trial 26 finished with value: 0.2807377614907042 and parameters: {'regressor': 'RandomForest', 'max_depth': 4, 'max_features': 13}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:18,809] Trial 27 finished with value: 0.347351591409526 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:29,402] Trial 28 finished with value: 0.36327048590192845 and parameters: {'regressor': 'XGBoost', 'max_depth': 8, 'max_features': 16}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:50,695] Trial 29 finished with value: 0.33410057820203704 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 11, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:51,905] Trial 30 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:53,119] Trial 31 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:54,330] Trial 32 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:55,555] Trial 33 finished with value: 0.38780396438906567 and parameters: {'regressor': 'LightGBM', 'max_depth': 8, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:56,801] Trial 34 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:57,998] Trial 35 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:33:59,217] Trial 36 finished with value: 0.38671654769148894 and parameters: {'regressor': 'LightGBM', 'max_depth': 7, 'max_features': 14}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:00,422] Trial 37 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:01,535] Trial 38 finished with value: 0.38119356678276883 and parameters: {'regressor': 'LightGBM', 'max_depth': 5, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:17,818] Trial 39 finished with value: 0.3297498389624873 and parameters: {'regressor': 'XGBoost', 'max_depth': 11, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:18,522] Trial 40 finished with value: 0.3285509525098687 and parameters: {'regressor': 'LightGBM', 'max_depth': 2, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:19,722] Trial 41 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:20,908] Trial 42 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:22,261] Trial 43 finished with value: 0.38780396438906567 and parameters: {'regressor': 'LightGBM', 'max_depth': 8, 'max_features': 7}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:23,750] Trial 44 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:34,709] Trial 45 finished with value: 0.3623717035581544 and parameters: {'regressor': 'RandomForest', 'max_depth': 12, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:35,923] Trial 46 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:47,092] Trial 47 finished with value: 0.3715855529020655 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 7, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:34:48,300] Trial 48 finished with value: 0.38634580523343964 and parameters: {'regressor': 'LightGBM', 'max_depth': 13, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:00,621] Trial 49 finished with value: 0.354964505140277 and parameters: {'regressor': 'XGBoost', 'max_depth': 9, 'max_features': 14}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:01,799] Trial 50 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:02,982] Trial 51 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:04,171] Trial 52 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:05,390] Trial 53 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 13}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:06,612] Trial 54 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:07,836] Trial 55 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 7}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:13,583] Trial 56 finished with value: 0.3454181091736935 and parameters: {'regressor': 'RandomForest', 'max_depth': 8, 'max_features': 6}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:14,794] Trial 57 finished with value: 0.38634580523343964 and parameters: {'regressor': 'LightGBM', 'max_depth': 13, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:15,994] Trial 58 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:17,193] Trial 59 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 14}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:29,482] Trial 60 finished with value: 0.3752154180537204 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 7, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:30,679] Trial 61 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:31,917] Trial 62 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:33,133] Trial 63 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:34,340] Trial 64 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:35,538] Trial 65 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:51,885] Trial 66 finished with value: 0.3297498389624873 and parameters: {'regressor': 'XGBoost', 'max_depth': 11, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:35:53,097] Trial 67 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 6}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:02,421] Trial 68 finished with value: 0.3445532237560798 and parameters: {'regressor': 'RandomForest', 'max_depth': 8, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:03,599] Trial 69 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 13}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:04,793] Trial 70 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:05,962] Trial 71 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:07,144] Trial 72 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:08,327] Trial 73 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:09,518] Trial 74 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:10,703] Trial 75 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:11,884] Trial 76 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:24,659] Trial 77 finished with value: 0.35110380876108094 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 11, 'max_features': 7}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:25,866] Trial 78 finished with value: 0.38780396438906567 and parameters: {'regressor': 'LightGBM', 'max_depth': 8, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:41,733] Trial 79 finished with value: 0.3297498389624873 and parameters: {'regressor': 'XGBoost', 'max_depth': 11, 'max_features': 6}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:42,933] Trial 80 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 7}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:44,140] Trial 81 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:45,335] Trial 82 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 6}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:46,558] Trial 83 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:47,767] Trial 84 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 3}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:48,973] Trial 85 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:36:59,216] Trial 86 finished with value: 0.3517121993728119 and parameters: {'regressor': 'RandomForest', 'max_depth': 9, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:00,395] Trial 87 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 5}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:01,585] Trial 88 finished with value: 0.38780396438906567 and parameters: {'regressor': 'LightGBM', 'max_depth': 8, 'max_features': 3}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:02,780] Trial 89 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 12}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:03,950] Trial 90 finished with value: 0.38886466722079166 and parameters: {'regressor': 'LightGBM', 'max_depth': 11, 'max_features': 8}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:05,126] Trial 91 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 9}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:06,324] Trial 92 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 7}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:07,542] Trial 93 finished with value: 0.3858121530268348 and parameters: {'regressor': 'LightGBM', 'max_depth': 9, 'max_features': 11}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:08,720] Trial 94 finished with value: 0.3892534050390631 and parameters: {'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.
[I 2022-03-20 10:37:09,895] Trial 95 finished with value: 0.3882812159412718 and parameters: {'regressor': 'LightGBM', 'max_depth': 12, 'max_features': 10}. Best is trial 20 with value: 0.3892534050390631.

FrozenTrial(number=20, values=[0.3892534050390631], datetime_start=datetime.datetime(2022, 3, 20, 10, 32, 47, 684794), datetime_complete=datetime.datetime(2022, 3, 20, 10, 32, 48, 898725), params={'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}, distributions={'regressor': CategoricalDistribution(choices=('GradientBoosting', 'XGBoost', 'LightGBM', 'RandomForest')), 'max_depth': IntUniformDistribution(high=16, low=2, step=1), 'max_features': IntUniformDistribution(high=16, low=2, step=1)}, user_attrs={}, system_attrs={}, intermediate_values={}, trial_id=20, state=TrialState.COMPLETE, value=None)

In [21]:
print(study.best_params)

{'regressor': 'LightGBM', 'max_depth': 10, 'max_features': 11}

In [26]:
def evalmetric(y,ypred):
 import numpy as np
 e = y - ypred 
 mse_f = np.mean(e**2)
 rmse_f = np.sqrt(mse_f)
 mae_f = np.mean(abs(e))
 mape_f = 100*np.mean(abs(e/y))
 r2_f = 1-(sum(e**2)/sum((y-np.mean(y))**2))
 print("MSE:", mse_f)
 print("RMSE:", rmse_f)
 print("MAE:",mae_f)
 print("MAPE:",mape_f)
 print("R-Squared:", r2_f)
from lightgbm import LGBMRegressor
lgb = LGBMRegressor(random_state=17,max_depth= 8,max_features= 8)
lgb.fit(X_train, y_train)
print('Train Data')
y_pred = lgb.predict(X_train)
evalmetric(y_train,y_pred)
print('Test Data')
y_pred2 = lgb.predict(X_test)
evalmetric(y_test,y_pred2)

Train Data
MSE: 0.050954060515122405
RMSE: 0.22573006116847266
MAE: 0.11560669167868934
MAPE: inf
R-Squared: 0.5038315266570231
Test Data
MSE: 0.0625130678615759
RMSE: 0.25002613435714255
MAE: 0.1291143084527135
MAPE: inf
R-Squared: 0.4052305107673657

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score

forest_params = {"max_depth": range(2, 16), "max_features": range(2, 16)}

forest_grid = GridSearchCV(forest, forest_params, cv=3, n_jobs=-1, verbose=True)

forest_grid.fit(X_train, y_train)

Fitting 3 folds for each of 196 candidates, totalling 588 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=17), n_jobs=-1,
             param_grid={'max_depth': range(2, 16),
                         'max_features': range(2, 16)},
             verbose=True)

In [1]:
from sklearn.model_selection import GridSearchCV, cross_val_score

model_params = {"max_depth": range(2, 16), "max_features": range(2, 16)}

model_grid = GridSearchCV(model, model_params, cv=3, n_jobs=-1, verbose=True)

model_grid.fit(X_train, y_train)

NameError: ignored

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score

gbm_model_params = {"max_depth": range(2, 16), "max_features": range(2, 16)}

gbm_model_grid = GridSearchCV(gbm_model, gbm_model_params, cv=3, n_jobs=-1, verbose=True)

gbm_model_grid.fit(X_train, y_train)

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score

lgb_model_params = {"max_depth": range(2, 16), "max_features": range(2, 16)}

lgb_model_grid = GridSearchCV(lgb_model, lgb_model_params, cv=3, n_jobs=-1, verbose=True)

lgb_model_grid.fit(X_train, y_train)

For Q3 and Q4 ,use the following data.

In [14]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [15]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [16]:
dr=Encoder(dr)
dr

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report  Price
0             1.10    2      4        2       3         0       1   5169
1             0.83    2      4        3       2         2       0   3470
2             0.85    2      4        2       0         0       1   3183
3             0.91    2      1        2       3         3       1   4370
4             0.83    2      3        2       0         0       1   3171
...            ...  ...    ...      ...     ...       ...     ...    ...
5995          1.03    2      0        2       0         0       1   6250
5996          1.00    4      0        2       3         3       1   5328
5997          1.02    2      0        2       0         0       1   6157
5998          1.27    3      3        3       0         0       1  11206
5999          2.19    2      1        3       0         0       1  30507

[6000 rows x 8 columns]

In [17]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report
0             1.10    2      4        2       3         0       1
1             0.83    2      4        3       2         2       0
2             0.85    2      4        2       0         0       1
3             0.91    2      1        2       3         3       1
4             0.83    2      3        2       0         0       1
...            ...  ...    ...      ...     ...       ...     ...
5995          1.03    2      0        2       0         0       1
5996          1.00    4      0        2       3         3       1
5997          1.02    2      0        2       0         0       1
5998          1.27    3      3        3       0         0       1
5999          2.19    2      1        3       0         0       1

[6000 rows x 7 columns]

In [18]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?